openapi: 3.1.0
info:
  title: IETF Datatracker API
  description: |
    Read-only REST API for the IETF Datatracker, exposing IETF documents,
    working groups, meetings, IPR disclosures, and related metadata.
  version: 1.0.0
  contact:
    name: IETF Datatracker
    url: https://datatracker.ietf.org/
x-generated-from: https://datatracker.ietf.org/api/v1
x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://datatracker.ietf.org/api/v1
    description: IETF Datatracker API root
paths:
  /doc/:
    get:
      summary: List documents
      operationId: listDocuments
      tags:
        - Documents
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /doc/document/:
    get:
      summary: List document records
      operationId: listDocumentRecords
      tags:
        - Documents
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /doc/docevent/:
    get:
      summary: List document events
      operationId: listDocEvents
      tags:
        - Documents
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /group/:
    get:
      summary: List groups (working groups, areas, etc.)
      operationId: listGroups
      tags:
        - Groups
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /meeting/:
    get:
      summary: List IETF meetings
      operationId: listMeetings
      tags:
        - Meetings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /person/:
    get:
      summary: List persons
      operationId: listPersons
      tags:
        - People
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /ipr/:
    get:
      summary: List IPR disclosures
      operationId: listIprDisclosures
      tags:
        - IPR
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /submit/:
    get:
      summary: List document submissions
      operationId: listSubmissions
      tags:
        - Submissions
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /name/:
    get:
      summary: List name/enum reference values
      operationId: listNames
      tags:
        - Reference
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /liaisons/:
    get:
      summary: List liaison statements
      operationId: listLiaisons
      tags:
        - Liaisons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /message/:
    get:
      summary: List messages
      operationId: listMessages
      tags:
        - Messages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /review/:
    get:
      summary: List reviews
      operationId: listReviews
      tags:
        - Reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
  /stats/:
    get:
      summary: Statistics resources
      operationId: listStats
      tags:
        - Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
components:
  schemas:
    CollectionResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            limit:
              type: integer
            next:
              type: string
              nullable: true
            offset:
              type: integer
            previous:
              type: string
              nullable: true
            total_count:
              type: integer
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
tags:
  - name: Documents
    description: Internet-Drafts, RFCs, and document events
  - name: Groups
    description: Working groups, research groups, and other IETF groups
  - name: Meetings
    description: IETF meetings and sessions
  - name: People
    description: People in the IETF community
  - name: IPR
    description: Intellectual property rights disclosures
  - name: Submissions
    description: Document submissions
  - name: Reference
    description: Reference and enumeration values
  - name: Liaisons
    description: Liaison statements
  - name: Messages
    description: Email messages and announcements
  - name: Reviews
    description: Document reviews
  - name: Stats
    description: Statistics resources
